openapi: 3.2.0
info:
  title: SocialListening Meta API
  version: 1.0.0
  description: Search and retrieve public social data through one normalized API.
  x-updated-at: '2026-09-23T00:00:00.000Z'
servers:
- url: https://api.sociallisteningapi.com
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Meta
  description: API discovery endpoints.
  x-display-name: API reference
paths:
  /openapi.json:
    get:
      operationId: getOpenApiDocument
      tags:
      - Meta
      summary: Get the OpenAPI document
      description: Download the current OpenAPI 3.1 contract for SocialListeningAPI endpoints, parameters, schemas, responses, and authentication.
      security: []
      responses:
        '200':
          description: The OpenAPI document.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              example:
                openapi: 3.1.0
                info:
                  title: SocialListeningAPI
                paths:
                  /api/v1/linkedin/search: {}
components:
  headers:
    ETag:
      description: A validator for detecting changes to the OpenAPI document.
      schema:
        type: string
    CacheControl:
      description: Browser and shared-cache instructions for the OpenAPI document.
      schema:
        type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Your SocialListeningAPI key.
externalDocs:
  description: SocialListeningAPI documentation
  url: https://sociallisteningapi.com/docs/introduction
