openapi: 3.2.0
info:
  title: SocialListening Google API
  version: 1.0.0
  description: Search and retrieve public social data through one normalized API.
  x-updated-at: '2026-09-23T00:00:00.000Z'
servers:
- url: https://api.sociallisteningapi.com
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Google
  description: Google API endpoints.
  x-display-name: Google
  x-logo: /google.svg
paths:
  /api/v1/google/search:
    get:
      operationId: searchGoogle
      tags:
      - Google
      summary: Search Google
      description: Search Google results by keyword and return normalized titles, descriptions, URLs, and result metadata for available result types.
      x-credit-cost: 1
      responses:
        '200':
          description: Request completed successfully.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/RequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleSearchResponse'
              example:
                success: true
                platform: google
                endpoint: /api/v1/google/search
                data:
                  items:
                  - id: https://example.com/social-listening-guide
                    platform: google
                    url: https://example.com/social-listening-guide
                    title: A practical guide to social listening
                    description: Learn how to find and review public conversations about your brand.
                    published_at: null
                pagination:
                  next_cursor: null
                  has_more: false
                  page_size: 1
                raw:
                  results: []
                request_id: req_example123
                credits_used: 1
                credits_remaining: 99
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '402':
          $ref: '#/components/responses/InsufficientCredits'
        '403':
          $ref: '#/components/responses/WorkspaceNotActivated'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/UpstreamProviderError'
      parameters:
      - name: query
        in: query
        required: true
        description: The keyword or phrase to search for.
        schema:
          type: string
          minLength: 1
        example: social listening
      - name: exact
        in: query
        required: false
        description: Search for the exact phrase by wrapping the query in double quotes. Defaults to true. Set to false to send the query unchanged.
        schema:
          type: boolean
          default: true
        example: true
      - name: raw
        in: query
        required: false
        description: Include the unchanged provider response in the raw field. Defaults to false.
        schema:
          type: boolean
          default: false
        example: true
    post:
      operationId: searchGoogleWithPost
      tags:
      - Google
      summary: Search Google
      description: Search Google results by keyword and return normalized titles, descriptions, URLs, and result metadata for available result types.
      x-credit-cost: 1
      responses:
        '200':
          description: Request completed successfully.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/RequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleSearchResponse'
              example:
                success: true
                platform: google
                endpoint: /api/v1/google/search
                data:
                  items:
                  - id: https://example.com/social-listening-guide
                    platform: google
                    url: https://example.com/social-listening-guide
                    title: A practical guide to social listening
                    description: Learn how to find and review public conversations about your brand.
                    published_at: null
                pagination:
                  next_cursor: null
                  has_more: false
                  page_size: 1
                raw:
                  results: []
                request_id: req_example123
                credits_used: 1
                credits_remaining: 99
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '402':
          $ref: '#/components/responses/InsufficientCredits'
        '403':
          $ref: '#/components/responses/WorkspaceNotActivated'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/UpstreamProviderError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - query
              properties:
                query:
                  type: string
                  minLength: 1
                  description: The keyword or phrase to search for.
                exact:
                  type: boolean
                  default: true
                  description: Search for the exact phrase by wrapping the query in double quotes. Defaults to true. Set to false to send the query unchanged.
                raw:
                  type: boolean
                  default: false
                  description: Include the unchanged provider response in the raw field. Defaults to false.
              additionalProperties: false
            example:
              query: social listening
              exact: true
              raw: true
components:
  responses:
    InternalError:
      description: The request could not be completed because of an internal error.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/RequestId'
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              type: INTERNAL_ERROR
              message: Internal server error
              status: 500
            request_id: req_example123
            credits_used: 0
            credits_remaining: 100
    UpstreamProviderError:
      description: The upstream provider request failed or returned an invalid response.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/RequestId'
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              type: UPSTREAM_PROVIDER_ERROR
              message: The upstream provider request failed
              status: 502
            request_id: req_example123
            credits_used: 0
            credits_remaining: 100
    WorkspaceNotActivated:
      description: The workspace is not activated.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/RequestId'
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              type: WORKSPACE_NOT_ACTIVATED
              message: The workspace email must be activated
              status: 403
            request_id: req_example123
            credits_used: 0
            credits_remaining: 100
    InvalidApiKey:
      description: The API key is missing or invalid.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/RequestId'
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              type: INVALID_API_KEY
              message: The API key is invalid
              status: 401
            request_id: req_example123
            credits_used: 0
            credits_remaining: 100
    InvalidRequest:
      description: A required request parameter is missing or invalid.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/RequestId'
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              type: INVALID_REQUEST
              message: A required request parameter is missing or invalid
              status: 400
            request_id: req_example123
            credits_used: 0
            credits_remaining: 100
    RateLimited:
      description: The API key exceeded the rate limit.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/RequestId'
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
        Retry-After:
          $ref: '#/components/headers/RetryAfter'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              type: RATE_LIMITED
              message: The API key has reached 120 requests per minute
              status: 429
            request_id: req_example123
            credits_used: 0
            credits_remaining: 100
    InsufficientCredits:
      description: The workspace does not have enough credits.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/RequestId'
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              type: INSUFFICIENT_CREDITS
              message: The workspace does not have enough API credits
              status: 402
            request_id: req_example123
            credits_used: 0
            credits_remaining: 100
  headers:
    RateLimitLimit:
      description: The maximum requests allowed in the current minute.
      schema:
        type: integer
    RateLimitRemaining:
      description: The requests remaining in the current minute.
      schema:
        type: integer
    RequestId:
      description: The unique ID assigned to the request.
      schema:
        type: string
    RetryAfter:
      description: The seconds until another request can be attempted.
      schema:
        type: integer
    RateLimitReset:
      description: The Unix timestamp when the current rate-limit window resets.
      schema:
        type: integer
  schemas:
    Error:
      type: object
      required:
      - type
      - message
      - status
      properties:
        type:
          type: string
          example: INVALID_REQUEST
        message:
          type: string
          example: A required request parameter is missing or invalid
        status:
          type: integer
          minimum: 400
          maximum: 599
      additionalProperties: false
    GoogleSearchResponse:
      type: object
      required:
      - success
      - platform
      - endpoint
      - data
      - pagination
      - request_id
      - credits_used
      - credits_remaining
      properties:
        success:
          type: boolean
          const: true
        platform:
          type: string
          const: google
        endpoint:
          type: string
        data:
          $ref: '#/components/schemas/GoogleSearchData'
        pagination:
          $ref: '#/components/schemas/Pagination'
        raw:
          $ref: '#/components/schemas/RawResponse'
        request_id:
          type: string
          example: req_4QfL8rGv2NwK7zXp
        credits_used:
          type: integer
          minimum: 0
        credits_remaining:
          type:
          - integer
          - 'null'
          minimum: 0
      additionalProperties: false
    GoogleResult:
      type: object
      required:
      - id
      - platform
      - url
      - title
      - description
      - published_at
      properties:
        id:
          type: string
        platform:
          type: string
          const: google
        url:
          type: string
          format: uri
        title:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        published_at:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    ErrorResponse:
      type: object
      required:
      - success
      - error
      - request_id
      - credits_used
      - credits_remaining
      properties:
        success:
          type: boolean
          const: false
        error:
          $ref: '#/components/schemas/Error'
        request_id:
          type: string
        credits_used:
          type: integer
          const: 0
        credits_remaining:
          type:
          - integer
          - 'null'
          minimum: 0
      additionalProperties: false
      example:
        success: false
        error:
          type: INVALID_REQUEST
          message: A required request parameter is missing or invalid
          status: 400
        request_id: req_example123
        credits_used: 0
        credits_remaining: 100
    RawResponse:
      description: The unchanged upstream provider response. Returned only when the request sets raw to true.
    GoogleSearchData:
      type: object
      required:
      - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/GoogleResult'
      additionalProperties: false
    Pagination:
      type: object
      required:
      - next_cursor
      - has_more
      - page_size
      properties:
        next_cursor:
          type:
          - string
          - 'null'
          description: A provider cursor for a future paginated request, when available.
        has_more:
          type: boolean
        page_size:
          type: integer
          minimum: 0
      additionalProperties: false
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Your SocialListeningAPI key.
externalDocs:
  description: SocialListeningAPI documentation
  url: https://sociallisteningapi.com/docs/introduction
